
.hr_red{
    color: red;
    width: 3px;
    border: 1px;
    border-color: blue;
}
.hr_blue{
    background-color: blue;
    width: 3px;
}
.input_label_style{
    width:80px;
}
label{
    width:100px;
    display:inline-block;
}
